* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #20232d;
    font-family: "ZCOOL QingKe HuangYou", cursive;
    color: #fff;
}

.header-container {
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

header {
    padding-top: 10px;
    background-color: #2f3341;
    padding-bottom: 20px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotype {
    display: flex;
    align-items: end;
}

.user {
    display: flex;
    align-items: center;
}

.logo-images {
    display: flex;
    align-items: center;
}

.logo-images img {
    margin-right: 18px;
}

.users-count {
    margin-left: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
}

button {
    transition: .3s linear;
}


.deposit {
    display: flex;
    align-items: center;
}

.money {
    background: #20232d;
    border-radius: 7px;
    padding: 13px 65px;
    display: flex;
}

.money span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
}

.money img {
    margin-left: 5px;
}

.deposit-btn {
    background: #403f98;
    border-radius: 7px;
    margin-left: -20px;
    border: none;
    padding: 10px 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    cursor: pointer;
    color: #ffffff;
}

.account {
    display: flex;
    align-items: center;
}

.account img {
    margin-right: 10px;
    margin-left: 15px;
}

.name span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
}

.dosia-flex {
    display: flex;
}

.name {
    display: flex;
    align-items: center;
}

.level {
    margin-left: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
}

.dosia {
    margin-top: 20px;
}

.dosia-container {
    max-width: 1900px;
}

.sidebar-container {
    max-width: 359px;
    background-color: #2f3341;
    padding: 15px 0px;
    border-radius: 0px 10px 0px 0px;
    height: 100%;
}
.chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.ping {
    display: flex;
    align-items: center;
}

.ping-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.8);
    padding-right: 10px;
}

.message {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #20232d;
    border-radius: 0px 12px 12px 0px;
    width: 300px;
    height: 80px;
    transition: .3s linear;
}

.about {
    display: flex;
    flex-direction: column;
}

.nameal {
    display: flex;
    align-items: center;
}

.about-name {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    margin-left: 13px;
}

.lvl {
    margin-left: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    background-color: #2f3341;
    padding: 4px 8px;
    border-radius: 20px;
}

.chatting {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #b4b5ba;
    padding-left: 10px;
    margin-top: 5px;
}

.reply {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    background: #20232d;
    border-radius: 10px;
}

.reply input {
    padding: 12px 5px;
    background: #20232d;
    border: none;
}

.reply img {
    margin-left: 15px;
    cursor: pointer;
}

.reply input[type="text"] {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
}

.dosia-p2 {
    margin-left: 14px;
}

.choose-container {
    width: 370px;
}

.choose-text {
    display: flex;
}

.choose-flex {
    display: flex;
    background-color: #2f3341;
    padding: 15px;
    justify-content: space-between;
    border-radius: 10px;
}

.choose-text div {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-left: 15px;
    color: #ffffff;
}

.inventory {
    padding-top: 190px;
    padding-left: 120px;
    background-color: #2f3341;
    margin-top: 20px;
    height: 500px;
    border-radius: 10px;
}

.choose-btns {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: center;
}

.choose-btn {
    background: rgba(47, 51, 65, 0.8);
    border-radius: 12px;
    margin-top: 10px;
    width: 370px;
    height: 54px;
    display: flex;
    align-self: center;
    justify-content: center;
    border: none;
    padding-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    border: none;
    line-height: 18px;
    cursor: pointer;
    color: #ffffff;
}

.choose-btn img {
    padding-left: 17px;
}

.duels {
    margin-left: 14px;
}

.duels-container {
    width: 1075px;
    background-color: #2f3341;
    padding: 20px;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
}

.duels-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.duels-p2 {
    display: flex;
    align-items: center;
}

.bet-sum {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
}

.history {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    background: #20232d;
    border-radius: 10px;
    padding: 20px 50px;
    border: none;
    transition: .3s linear;
    margin-left: 20px;
    cursor:pointer;
    background: #403F98;
}

.offer {
    background: #2F3341;
    padding: 20px 29px 9px 26px;
}

.offer-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

.offer-card {
    background: #20232D;
    border-radius: 10px;
    padding: 10px 7.2px 9.5px 14px;
    margin-right: 15px;
    width: 201px;
    text-align: center;
    min-height: 273px;
}

.offer-card-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.offer-card-price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-top: 2px;
    margin-bottom: 20px;
}

.offer-card-vs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 11px;
}

.offer-vs-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.offer-btn {
    background: #2F3341;
    border-radius: 10px;
    border: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    padding: 10px 32px;
    text-align: center;
    width: 180px;
}
